body

{
    background-color: #FFE4B5;
}
h1

{
    color: #DAA520;
}

h2

{
    color: #eb7100;
}

p

{
    color: #8B4513;
    font-size: larger;
}

#kep

{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bevezeto

{
    border: 5px solid #8B4513;
    text-align: center;
    width: 535px;
    margin: 10px auto;
}
